/* @import "tailwindcss";
@tailwind utilities;

html, body {
    overflow-x: clip;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;

  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-height: fit-content;

  }
 */


@import "tailwindcss";
@tailwind utilities;

html, body {
    overflow-x: hidden;    /* horizontal scroll disable */
    overflow-y: auto;      /* vertical scroll enable */
    scroll-behavior: smooth;
    overscroll-behavior-y: auto; /* vertical overscroll allow */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-height: fit-content; remove kar diya */
}
